<!-- account.html -->
<!-- @radiasl for ExarNorth -->

{% extends 'base_member.html' %}
{% load static %}

{% block head %}
  <title>My account</title>
  <!-- <link rel="stylesheet" href="../../static/bootstrap/css/forms.css"> -->
  <link rel="stylesheet" href="{% static 'css/accountcss.css' %}">
{% endblock %}

{% block content %}
<div id="search_div_account" >
      <center>
        <h2>My account</h2>
        <p>This is your account page. You can find details about your subscriptions or change your login credentials.</p>
        <p>Need to change your password?</p>
        <!-- Confirmation message -->
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              {% endfor %}
          </ul>
        {% endif %}
      </center>
      <div class="wrapper">
        <div class = "formContent">
          <form class="form-signin" method = 'POST' action= '' enctype = "multipart/form-data" style="margin-top:-30px;margin-bottom:-18px;" align="center">
            &nbsp;
            {% csrf_token %}
            <br>{{ form.old_password.label }}{{ form.old_password }}
            <br>{{ form.new_password1.label }}{{ form.new_password1 }}
            <br>{{ form.new_password2.label }}{{ form.new_password2 }}
            <br>
            &nbsp;
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <!--------------- Footer ------------------->
    <!------------------------------------------>
    
  </div>
{% endblock %}
