<!-- base.html -->
<!-- @radiasl for ExarNorth -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168264615-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168264615-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <!------------------------------------------>
    <!----------- Required JS ------------------>
    <!------------------------------------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="../../static/bootstrap/js/custom.min.js"></script>

    <!------------------------------------------>
    <!----------- Stylesheets ------------------>
    <!------------------------------------------>
    <link rel="stylesheet" href="../../static/bootstrap/css/stylesheet.min.css" media="screen">
    <link rel="stylesheet" href="../../static/bootstrap/css/custom.css">
    <link rel="stylesheet" href="{% static 'css/basecss.css' %}">
    {% block head %}
    {% endblock %}

    <script src="{% static 'js/base.js' %}"></script>
  </head>


  <body class="body-div">
    <!------------------------------------------>
    <!----------- Top Navigation bar ----------->
    <!------------------------------------------>

        <nav role='navigation'>
          <div >
            
            <h2 >MBlazr</h2>
          </div>
          <div id="myNav" class="overlay">

            <!-- Button to close the overlay navigation -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          
            <!-- Overlay content -->
            <div class="overlay-content">
              <a href="{% url 'pricing' %}">Login</a>
              <a href="{% url 'login' %}">Sign Up</a>
              
            </div>
          
          </div>
          
          <!-- Use any element to open/show the overlay navigation menu -->
          <span id ="navopen" onclick="openNav()">&#9776;</span>
          </nav>
        <div class="header-div" >
          <div class="header-left-div">
        
               <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand">MBlazr</a>
                
              </div> 
       

    </div>
          <div class="header-right-div">
              
                  <a href="{% url 'pricing' %}"><button id="loginbutton">Log In</button></a>
                  <a href="{% url 'login' %}"><button>Sign Up</button></a>
              
          </div>



<!----------- Search container ------------->
    <!------------------------------------------>


          <form class="autocomplete" autocomplete="off" action="" name="searchForm">
                   
          <div class="search-wrapper-div">
            <div class="search-div0" >
              <div class="search-t0" ></div>
              {% if user.is_authenticated %}
              <input id="myInput" autocomplete="off" type="text"  spellcheck="false" placeholder="Search (ticker, company)" autofocus="">
              <div class="search-symbol-div">
                  <div class="symbol-div">
                      ⚲
                  </div>
              </div>
              {% else %}
              <input id="myInput" autocomplete="off" type="text"  spellcheck="false" placeholder="Search (ticker, company)" autofocus="" value="TSLA">
              <div class="search-symbol-div">
                  <div class="symbol-div">
                      ⚲
                  </div>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="search_results_div"></div>
          </form>
      </div>

      

    <!------------------------------------------>
    <!----------- Main body container ---------->
    <!------------------------------------------>

    {% block content %}
    {% endblock %}

 

  </body>
</html>
