<!-- base.html -->
<!-- @radiasl for ExarNorth -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168264615-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <!------------------------------------------>
    <!----------- Required JS ------------------>
    <!------------------------------------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="../../static/bootstrap/js/custom.min.js"></script>

    <!------------------------------------------>
    <!----------- Stylesheets ------------------>
    <!------------------------------------------>
    <link rel="stylesheet" href="../../static/bootstrap/css/stylesheet.min.css" media="screen">
    <link rel="stylesheet" href="../../static/bootstrap/css/custom.css">
    <link rel="stylesheet" href="{% static 'css/basecss.css' %}">
    {% block head %}
    {% endblock %}

    <script src="{% static 'js/base.js' %}"></script>
  </head>


  <body class="body-div">
    <div style="width:100%;background-color:#f1f5fa">    <!------------------------------------------>
    <!----------- Top Navigation bar ----------->
    <!------------------------------------------>
<div class="main-div">
        <nav role='navigation'>
          <div >
            
            <h2 >MBlazr</h2>
          </div>
          <div id="myNav" class="overlay">

            <!-- Button to close the overlay navigation -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          
            <!-- Overlay content -->
            <div class="overlay-content">
              <a href="{% url 'login' %}">Login</a>
              <a href="{% url 'register' %}">Sign Up</a>
              
            </div>
          
          </div>
          
          <!-- Use any element to open/show the overlay navigation menu -->
          <span id ="navopen" onclick="openNav()">&#9776;</span>
          </nav>
        <div class="header-div" >
          <div class="header-left-div">
        
               <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand">MBlazr</a>
                
              </div> 
       

    </div>
    <div class="menu-options1">
      <a href="{% url 'about' %}"><button id="loginbutton">About</button></a>
      <a href="{% url 'faq' %}"><button id="loginbutton">FAQ</button></a>
      <a href="{% url 'contact' %}"><button id="loginbutton">Contact</button></a>
      <a href="{% url 'pricing' %}"><button id="loginbutton">Pricing</button></a>
    </div>
          <div class="header-right-div">
              
                  <a href="{% url 'login' %}"><button id="loginbutton">Sign In</button></a>
             
              
          </div>




    
</div>
    

    <!------------------------------------------>
    <!----------- Main body container ---------->
    <!------------------------------------------>

    {% block content %}
    {% endblock %}

  </body>
</html>
