<!-- contact.html -->
<!-- @radiasl for ExarNorth -->
<!-- home.html -->
<!-- @radiasl for ExarNorth -->

{% extends extended_template %}
{% load static %}

{% block head %}
<title>mBlazr Contact</title>
<script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>

<link href="{% static 'css/autocomplete.css' %}" rel="stylesheet" >
<link href="{% static 'css/home-styles.css' %}" rel="stylesheet" >
<link href="{% static 'css/homecss.css' %}" rel="stylesheet" >
<link href="{% static 'css/contactcss.css' %}" rel="stylesheet" >
{% endblock %}


{% block content %}



    <!----------- Search container ------------->
    <!------------------------------------------>
    
            <div id="search_div_contact" >
              <h1>Contact</h1>
              <br>
              <form method="post" action="" role="form" enctype = "multipart/form-data" style="margin-top:-30px; margin-bottom:-18px;" align="center">
                <fieldset>
                  {% csrf_token %}
                  <br>{{ form.name.label }}{{ form.name }}
                  <br>{{ form.email.label }}{{ form.email }}
                  <br><a style="visibility:hidden;">{{ form.message.label }}</a>{{ form.message }}
                  <br>
                  <input class="btn btn-lg btn-primary" type="submit" value="Send"/>
                </fieldset>
              </form>
    
       
              </div>
            
             
            </div>
        

 

   
   



      </div>
    </div>
 <!----------- Footer ----------------------->
    <!------------------------------------------>
   

{% endblock %}

{% block script %}
<!-- <script src="../../static/bootstrap/js/formautocomplete.js"></script> -->
{% endblock %}





