{% extends extended_template %}
<!-- form.html -->
<!-- @radiasl for ExarNorth -->


{% load static %}

{% block head %}
  <title>{{title}}</title>
  <link rel="stylesheet" href="../../static/bootstrap/css/forms.css">
  <link href="{% static 'css/formscss.css' %}" rel="stylesheet" >
 
{% endblock %}

{% block content %}

  
          <form class="form-signin" method = 'POST' action= '' enctype = "multipart/form-data" align="center">
            <center><h3>Sign In</h3></center>
            &nbsp;
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{title}}</button>
            <br><center>
              {% if title == "Login" %}
                <a href = "#">Forgot your password?</a>
                  {% if request.GET.next %}
                <br>Don't have an account? <a href = " {% url 'register' %}?next={{request.GET.next }} ">Register</a>
                   {%else%}
                <br>Don't have an account? <a href = "{% url 'register' %}">Register</a>
                   {%endif%}

              {% endif %}
              {% if title == "Register" %}
                Already have an account? <a  href = "{% url 'login' %}">Login</a>
              {% endif %}
            </center>
          </form>

      </div>
    </div>

    <!--------------- Footer ------------------->
    <!------------------------------------------>
   

  </div>
{% endblock %}
