<!-- home.html -->
<!-- @radiasl for ExarNorth -->

{% extends extended_template %}
{% load static %}

{% block head %}
<title>MBlazr</title>
<script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>

<link href="{% static 'css/autocomplete.css' %}" rel="stylesheet" >
<link href="{% static 'css/home-styles.css' %}" rel="stylesheet" >
<link href="{% static 'css/homecss.css' %}" rel="stylesheet" >
<style>

</style>
{% endblock %}

{% block content %}
<body class="body-div">
    <div style="width:100%;background-color:#f1f5fa">
      <div class="main-div">
<div class="container">
    <h2>&nbsp;</h2>

    <!----------- Search container ------------->
    <!------------------------------------------>
    <div class="jumbotron">
        <h2>&nbsp;</h2>
        <center>
            <h1 style="font-family: Tahoma,Geneva,sans-serif;     color: #000;">Your Fundamental Analysis Tool</h1>
         <br>
            <p class="lead"  style="font-family: Tahoma,Geneva,sans-serif;     color: #000;">An easy way to read company filings including 10-K, 10-Q and Proxy statements.</p>
            <p class="lead"style="font-family: Tahoma,Geneva,sans-serif;     color: #000;">Take a test drive with Home Depot (HD)</p>
        </center>
        

        &nbsp;
    </div>


   
   

</div>

      </div>
    </div>
 <!----------- Footer ----------------------->
    <!------------------------------------------>
    <div id="footer_div">
        <div class="main-div" >
          <div class="price-div" >
            <span class ="footer-span" >Just $29/month</span>
            <br/>
            <span class="footer-span-two" >Paid monthly. Cancel anytime.</span>
            <br/>
            <div class="terms-policy" >
                <a href="#terms" >Terms</a>
                <a href="#privacy" >Privacy</a>
            </div>
        <div class="sign_up_div">
                <a href="#sign-up"><button style="background-color:#FFF;color:#72c1fb;padding:25px 90px;font-size:1.4em;border-radius:20px;">Get Started</button></a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
<!-- <script src="../../static/bootstrap/js/formautocomplete.js"></script> -->
{% endblock %}
