<!-- home.html -->
<!-- @radiasl for ExarNorth -->

{% extends extended_template %}
{% load static %}

{% block head %}
<title>mBlazr</title>
<script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>

<link href="{% static 'css/autocomplete.css' %}" rel="stylesheet" >
<link href="{% static 'css/home-styles.css' %}" rel="stylesheet" >

{% endblock %}

{% block content %}
<div class="container">
    <h2>&nbsp;</h2>

    <!----------- Search container ------------->
    <!------------------------------------------>
    <div class="jumbotron">
        <h2>&nbsp;</h2>
        <center>
            <h2>Your Fundamental Analysis Tool</h2>
            <p class="lead">An easy way to read company filings including 10-K, 10-Q and Proxy statements.</p>
            <p class="lead">Take a test drive with Home Depot (HD)</p>
        </center>
        <!--searchBar-->
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="bs-example">
                    <form class="autocomplete" autocomplete="off" action="" name="searchForm">
                        <div class="row" style="height: 100%;">
                        {% if user.is_authenticated %}
                            <input type="text" class="col-md-11" autocomplete="off" id="myInput" spellcheck="false" placeholder="Ticker...">
                            <button type="submit" id="myBtn" class="col-md-1 btn btn-primary" disabled>
                        {% else %}
                        <input type="text" class="col-md-11" autocomplete="off" id="myInput" spellcheck="false" value="TSLA">
                            <button type="submit" id="myBtn" class="col-md-1 btn btn-primary">
                        {% endif %}
                        {% if messages %}
                                Hello
                                    <div class="alert alert-danger">
                                        <ul style="list-style-type:none;">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                
                                {% endif %}
                                <div style="-webkit-transform: rotate(45deg); 
                             -moz-transform: rotate(45deg); 
                               -o-transform: rotate(45deg);
                                  transform: rotate(45deg);">
                                    &#9906;
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        &nbsp;
    </div>

    <!--autocomplete script
    <script src="../../static/bootstrap/js/capspecs.js"></script> -->

    <!----------- Tool Features ---------------->
    <!------------------------------------------>
    <!--<div class="bs-docs-section">
      <div class="page-header">
      </div>
      <div class="row">-->
    <!--1st column-->
    <!--<div class="col-sm-4">
          <h4><center>Easy access sec filings</center></h4>
          <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
          <p><small>This line of text is meant to be treated as fine print.</small></p>
          <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
          <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
          <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
        </div>-->
    <!--2nd column-->
    <!--<div class="col-sm-4" style="background-color:lavenderblush;">
          <h4><center>Clear analytics</center></h4>
          <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
          <p><small>This line of text is meant to be treated as fine print.</small></p>
          <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
          <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
          <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
        </div>-->
    <!--3rd column-->
    <!--<div class="col-sm-4">
          <h4><center>Additional features</center></h4>
          <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
          <p><small>This line of text is meant to be treated as fine print.</small></p>
          <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
          <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
          <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
        </div>
      </div>
    </div>-->

    <!----------- Footer ----------------------->
    <!------------------------------------------>
    <footer>
    </footer>

</div>

{% endblock %}

{% block script %}
<!-- <script src="../../static/bootstrap/js/formautocomplete.js"></script> -->
{% endblock %}
