<!-- home.html -->
<!-- @radiasl for ExarNorth -->

{% extends  'base_member.html'%}
{% load static %}

{% block head %}
<title>mBlazr DashBoard</title>
<script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>

<link href="{% static 'css/autocomplete.css' %}" rel="stylesheet" >
<link href="{% static 'css/home-styles.css' %}" rel="stylesheet" >
<link href="{% static 'css/homecss.css' %}" rel="stylesheet" >
<style>@media only screen and (min-width: 1100px){
  #search_div {
      width: 80%;
      padding-top: 100px;
      margin: auto;
      margin-top: 42px;
      padding-right: 25px;
      padding-left: 25px;
      height: 400px;
      text-align: center;
      background-image: linear-gradient(#ffffff,#ffffff);
      color: #000;
      -webkit-box-shadow: 3px 3px 5px 6px #ccc;
      -moz-box-shadow: 3px 3px 5px 6px #ccc;
      box-shadow: 3px 3px 5px 6px #ccc;
  }
}
  </style>
{% endblock %}


{% block content %}



    <!----------- Search container ------------->
    <!------------------------------------------>
    
            <div id="search_div" >
              <h1>DashBoard</h1>
              <h2 class="search-h2" >"This is what we are all about.. blabla"</h2>
            
 
       
              </div>
              <div class="search_results_div"></div>
             
            </div>
        

 

   
   



      </div>
    </div>
 <!----------- Footer ----------------------->
    <!------------------------------------------>
   

{% endblock %}

{% block script %}
<!-- <script src="../../static/bootstrap/js/formautocomplete.js"></script> -->
{% endblock %}
