.autocomplete{
    height: 300px;
    left: 186px;

}
@media only screen and (max-width: 1100px){
.autocomplete {
    height: 300px;
    left: 0px;
}
}
.autocomplete input {
    padding: 10px;
    height: 50px;
    text-transform: uppercase
}
.autocomplete input:focus {
    outline: none;
}
.autocomplete button {
    padding:10px;
    height: 50px;
}
.autocomplete .autocomplete-items{

    padding: 8px 0;
    max-height: 500%;
    margin-top: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    background-color: white;
    min-width:100%;
    z-index: 5;
    border:2px #72c1fb solid;border-radius:5px;
    text-align: left;
}
.autocomplete-items .link {
    display:block;
    padding: 3px 20px;
    color: #555;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}
.autocomplete-items .link span {
    font-weight: bold
}
.autocomplete-items .link:hover{
    background-color: #72c1fb;;
    text-decoration: none;
}
