.formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  .form-signin {
    padding: 15px 10px 45px 10px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: -18px;
   width: 80%;
   -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 
  }
    .form-signin-heading, .checkbox {
      margin-bottom: 30px;
    }
    .checkbox {
        font-weight: normal;
    }
    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
     
    }
   
    input[type="text"], input[type="email"], textarea {
      background-color: #f6f6f6;
      color: #0d0d0d;
      text-decoration: none;
      margin-bottom: -1px;
      font-size: 13px;
      width: 85%;
      display: inline-block;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    input[type="password"] {
      background-color: #f6f6f6;
      color: #0d0d0d;
      text-decoration: none;
      margin-bottom: 20px;
      font-size: 13px;
      width: 85%;
      display: inline-block;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    input[type=text]:focus, input[type="email"]:focus, textarea:focus {
      background-color: #fff;
      border-bottom: 2px solid #5fbae9;
    }
    input[type=text]:placeholder, input[type="email"]:placeholder, textarea:placeholder {
      color: #cccccc;
    }
  
  @media(max-width: 500px){
    footer{
      height: 130px !important;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
  @media only screen and (min-width: 1100px){
.header-right-div {
  margin: -57px 102px;
  float: right;
  color: #000;
  font-size: large;
}}