.autocomplete input {
    padding: 10px;
    height: 50px;
    text-transform: uppercase
}
.autocomplete input:focus {
    outline: none;
}
.autocomplete button {
    padding:10px;
    height: 50px;
}
.autocomplete-active, .autocomplete-items .link:hover{
    background-color: lightgray;
    text-decoration: none;
    border-bottom: 1px solid grey
}
.autocomplete .autocomplete-items{
    background-color: white;
    padding: 0 0 0 0;
/*     border-radius: 0 0 10px 10px */
}
.autocomplete-items .link {
    border-bottom: 1px solid lightgray;
    display:block;
    padding: 20px 5px 0px 5px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
}
.bs-example {
    font-family: sans-serif;
    position: relative;
    margin: 10px 0px 100px 100px;
}

.typeahead,
.tt-query,
.tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 15px;
    /* input font size */
    height: 35px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 250px;
}

.typeahead {
    background-color: #FFFFFF;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    color: #999999;
}

.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}

.tt-suggestion {
    font-size: 15px;
    /* suggestion dropdown */
    padding: 3px 20px;
}

.tt-suggestion:hover,
.tt-cursor {
    cursor: pointer;
    background-color: #e9e9e9;
}

.tt-suggestion p {
    margin: 0;
    font-size: 15px;
    padding: 3px 20px;
}