.navbar{
    display:none;
    }
    html { height: 100%;
     }

    #filing-quick-navbar-large{
      display:none;

    }

   #filing-quick-navbar-small{
     max-width:100vw;
     position:fixed;
     top:0px;
     left:0px;
     min-width:100vw;
     padding:0px;
     margin:0px!important;
       overflow:hidden;
        z-index:50;
         background-color:rgb(33, 150, 243);

   }

   #filing-quick-navbar-small button{
     border:none;
     color:white;
     text-align:center;
      background-color:rgb(33, 150, 243);
        font-family:Tahoma,Geneva,sans-serif;
        font-weight:bold;
        font-size:10pt;
/*           border-right:1px solid #2d5986; */
        width:32.70%;
        padding-left:0px; 
        display:inline-block;
        overflow:hidden;

     
  }
  #filing-quick-navbar-small button:hover{
      background-color:#2d5989;
      border:none;
  }

    .center-btn span{
       float:right;
    }

    .center-btn a{
     background-color:white;
     padding:3px;
     border-radius:4px;
     color:#3973ac;
     font-weight:normal;
    }


    .bs-example {
        font-family: sans-serif;
        position: relative;
        margin: 10px 0px 100px 100px;
    }
    .typeahead, .tt-query, .tt-hint {
        border: 2px solid #CCCCCC;
        border-radius: 8px;
        font-size: 15px; /* input font size */
        height: 35px;
        line-height: 30px;
        outline: medium none;
        padding: 8px 12px;
        width: 280px;
    }
    .typeahead {
        background-color: #FFFFFF;
    }
    .tt-query {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
    .tt-hint {
        color: #999999;
    }
    .tt-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 12px;
        padding: 8px 0;
        width: 422px;
    }
    .tt-suggestion {
        font-size: 15px;  /* suggestion dropdown */
        padding: 3px 20px;
    }
    .tt-suggestion:hover, .tt-cursor {
        cursor: pointer;
        background-color: #e9e9e9;
    }
    .tt-suggestion p {
        margin: 0;
        font-size:15px;
        padding:3px 20px;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 60; /* Sit on top */
        left: 0;
        top: 0;
        width: 100vw; /* Full width */
        width:100vw;
        height: 100vh;
        min-width:100vw; /* Full height */
        overflow:scroll; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: #b9d3ee; /* Black w/ opacity */
    }


   .fl-table{
       width:98vw;
       min-width:98vw;
       max-width:98vw!important;
       height:98vh;
       min-height:50vh;


   }


    .fl-table td, .fl-table th {
        text-align: center;
        padding: 10px;

    }

    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 12px;
    }

    .fl-table thead th {
        color: #ffffff;
        background: #4FC3A1;
    }


    .fl-table thead th:nth-child(odd) {
        color: #ffffff;
        background: #324960;
    }

    .fl-table tr:nth-child(even) {
        background: #F8F8F8;
    }

    .fund-header {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: black;
        font: sans-serif;
    }
    .small-note {
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: black;
        font: sans-serif;
        padding: 30px 0;
    }
    .table-wrapper-execs{
        min-height:100vh;
        height:100vh;
        width:100vw;
        max-width:100vw;
        overflow:scroll;
        padding:10px 10px;
        border:1px solid black;

    }
    td div.comps {
        display: none;
    }

    #bioCol {
        white-space: normal;
        word-wrap:break-word;
    }


    tbody .directorDisplay:hover td div.comps {
        display: block;
        color: red;
    }
    #page-content-wrap{
        position:absolute;
        min-height: 95vh;
        height:95vh;
        left:0px;
        overflow:hidden;
       top:3.3vh;
       padding:0px;
       margin:0px;
    }
    .firstsec{
        display:none;
         width:100vw;
         min-width:100vw;
        position:relative;
        top:2.5vh;
        left:0px;
        padding-left:0px;
        background-color:white;
        padding:0px;
        margin:0px;
       
       }
    .section{

    border-right:1px solid #2d5986;
    border-bottom:2px solid black;
    }
    #qbg {
      background-color: #ccffdd;
        color:black;
        cursor:pointer;
        border-color:black;
        border-right:1px solid black;

        border-bottom:1px solid black;
    }
    #qbg:hover {
        background-color: #ccffdd;
        color:black;
    }

    #kbg {
        background-color: #ffcccc;
        color:black;
        cursor:pointer;
        border-right:1px solid black;

        border-bottom:1px solid black;
        border-color:black;
    }
    #kbg:hover {
        background-color: #ffcccc;
        color:black;
    }

    html, body {
        height: 98%;
    }


    #table_filing {
        font-family:Tahoma,Geneva,sans-serif;
        font-size:9pts;
        border-collapse: collapse;
        width: 100%;
        margin-top:30px;

    }
#myInputautocomplete-list{
   
   background-color:white;
   max-width:100vw;
   width:100vw;
    max-width: 100vw;
   padding:0px;
   margin:0px;
   position:absolute;
   left:0px;
   top:5vh;
   height:90vh;
   max-height:90vh;
  overflow-y:scroll;
 
}
#myInputautocomplete-list div{
    font-family:Tahoma,Geneva,sans-serif;
   padding:5px 20px;
   border-bottom:1px solid black;
        border-top: 1px solid gray;

}
#myInputautocomplete-list div:hover{
   padding:5px 20px;
   border-bottom:1px solid black;
   background-color:#d8ecf3;
   cursor:pointer;


}

#myInputautocomplete-list a{
     color:black;
     font-size:10pt;
}
#myInputautocomplete-list a:hover{
     color:black;
     font-size:10pt;

     text-decoration:none;
}

#myInputautocomplete-list span{
    padding-left:10px;
}
    #table_filing h3 {
    color:black;
    font-size: 16px;
    text-align: center;
    padding: 5px 10px;
    margin: 0;
    font-weight:bolder;
    border-bottom: 1px solid black;
    background-color:#d9d9d9;
    }
 #table_filing a{
     font-family: Tahoma,Geneva,sans-serif;
    display: block;
    color: black;
    border-bottom: 1px solid lightgrey;
    padding: 2px 0px;
    line-height: 1.4;
    border-bottom:0.5px solid black;
    font-size:9pt;
}

#table_filing a:hover {
    background-color: #c4e3ed;
    text-decoration: wavy;
}

#table_filing .item-link{
    padding-left: 8px;
    font-size:9pt;
    color:black;

    }
.part-link{
     margin-top:0px;
     font-size:9pt;
 }
 #table_filing .note-link{
        padding-left: 20px;
  }
    #table_filing .note-link{
         color:black!important;
        padding-left: 20px;
        font-size:9pt;
    }

    #table_filing .other-link{
        padding-left: 25px;
    }

    #filing_td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 0px;
    }

    #filing_tr:nth-child(even) {
        background-color: #dddddd;
    }

    #filing-quick-navbar-large div:hover{
        cursor:auto;
    }
    .container-fluid{
        padding:0px;
        margin:0px;


    }


     .top-buttons{
      padding:0%;
      margin:0px;

      width:100%!important;
      padding-left:2%;




    }
    .top-buttons button{
        display:inline-block;
        background-color:#3973ac;
         width:31.9%;
        height:30px;
        color:white;
        font-weight:bold;
        border:1px;
        border-radius:6px



    }
    .top-buttons button:hover{
        background-color:#6899ca;
        color:white;
    }
    #report_table_cont{
        position:absolute;
        background-color:#d9d9d9;
        width:100%;
        left:0%;
         padding:0px;
         margin:0px;
        font-weight:bolder;
    }
    #filings-section-list{
     
        position: relative;
      min-width: 100vw;
      max-width:100vw;
      top:-1vh;
      overflow-y:scroll;
      height:88vh;
      max-height:88vh;
      min-height:87vh;
      border-right:1px solid #2d5986;
      background-color:white;
    }
    #filings-section-list table{
 
    width:100%;
    max-width:100%!important;

    padding-bottom:0px;
    margin-bottom:-30px;
    color:black!important;
    background-color:White;


    }

    #tr_doc{

      font-size:small;
    }
   
    .filedate{
    text-align:left;
    margin-left:10px;
    cursor:pointer;
    padding:0px 0px 0px 10px;
   
    font-family:Tahoma,Geneva,sans-serif;
     width:75%;
    border-color:black;

     border-bottom:1px solid black;

    }
    #filings-section-list tbody tr:first-child{
        color:black;
         background-color:#f3e5d8;
        
    }
    .filedate:hover{
      background-color:#d8ecf3;
    }
    #searchform #search-icon{
        font-size:2em;
        font-weight:bolder;
        color:#3973ac;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
     #searchformsmall{
        position:relative;
        max-width:100vw;
        min-width:100vw;
        height:50px;
        margin-bottom:-10px;
    }
      #searchformsmall #search-icon{
        font-size:1.5em;
        font-weight:bolder;
        color:#3973ac;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #searchformsmall input{
        width:82vw;
        max-width:82vw;
        height:40px;
        padding:20px;
        max-height:40px;
         text-transform:capitalize;
         border:none;
    }
    #searchformsmall button{
        width:17vw;
        max-width:18vw;
        max-height:40px;
        height:40px;
         background-color:transparent;
         border:none;

    }

   

    #searchform{
        display:none;
        position:sticky;
         z-index:20;
         position:fixed;
         top:5vh;
        padding-bottom:0px;
        margin-bottom:0px;
    font-size:x-small;
    min-width:100vw;
    max-width:100vw;
    height:40px;
    max-height:40px!important;
    overflow:hidden;
    margin:5px;
   

    }
  #searchform input{
      border:none;
      position:absolute;
        font-size:8pt;
        color:black;
            padding-left:5px;
           left:0px;
           bottom:0px;
        text-transform:capitalize;
        min-height:40px;
      max-height: :40px!important;;
         outline:none;
         width:100%;
         overflow:hidden;

    }
    #searchform #myBtn{
        
        background-color:transparent;
        border:none;
        padding:0px;
        margin:0px;
        min-height:40px;
        position:absolute;
        right:5%;
        top:0px;



    }
  


    #filings-section-list #companyname{
    background-color:rgb(33, 150, 243);
   color:white;
   font-size:10pt;

    }
    #buttons-file-sec{
    width:100%;
    padding:2px 0px;
/*      background-color:#003366; */
     margin-bottom:1px;

    }
       #buttons-file-sec button{

         background-color:rgb(33, 150, 243);
         color:white;
         font-weight:bolder;
         font-size:smaller;
         text-align:center;
         width:32.61%;
         border-radius:4px;

       }

#shortcuts-mobile{
    
    background-color:#204060;
    min-width:100vw;
    width:100vw;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow:hidden;
    height:25px;
    border-top:1px solid blue;;
}
#shortcuts-mobile div{
    display:inline;
    height:50px;
}
#shortcuts-mobile  #company_name{
    position:absolute;
    color:white;
    font-size:10pt;
    min-width:100vw;
    text-align:center;
    font-family:Tahoma,Geneva,sans-serif;
    font-size:10pt;
    margin:0px;
    font-weight:bold;
    display:block;
}
#short-mobile-links {
    position:absolute; 
    right:5px;
    z-index:40;
 
      
}
#short-mobile-links a{
    font-size:10pt;
    color:#204060;
    font-weight:bold;
    margin-top:5px;
    background-color:white;
    padding:2px;
    border-radius:5px;



}
 .document-view-section{

     position:relative;
     overflow-y:scroll;
      font-family:Tahoma,Geneva,sans-serif;;
     padding:0px 20px;
     top:3.5vh;
      overflow-y:scroll;
      height:95vh;
      max-height:95vh!important;
      overflow-x:hidden;
      max-width:95vw;
     
      margin-left:2.8%;
      border-right:none;
      background-color:white;
      color:black;

 }
#doc-head{
  
    width:95vw;
    border:4px solid #204060;
}
 .toc{
     display:none;
     position:relative;
     top:1vh;
     left:0%;
     height:95vh;
      max-height:95vh;
      overflow-y:scroll;


 }
 #fixed-content-filing{
 position:sticky;
 top:0vh;
 min-width:100vw;
 max-width:100vw;
 background-color:white;
 z-index:30;


 }
 #table_filing .print{
     position:absolute;
    display: none;
    padding: 1px;
    background-color:lightblue;
    color:blue;
    border-radius: 5px;
    font-size: small;
    right:14px;
    font-weight: bold;
}
#table_filing a:hover span{

    display: inline;
}